*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
    color: #F9FAF8;
    text-decoration:none; 
    cursor: pointer;
    padding: 1em 3em;
  }

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
      
.first_section{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

.header{
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
}

.header_logo{
    display: flex;
    flex: 1;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    justify-content: center;
}

.header_links{
    color: white;
    display: flex;
    flex: 1;
    justify-content: center;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    padding-bottom: 3em;
}

.hero_left{
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero_main{
    padding: 0 20%;
    flex: 1;
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0px;
}

.hero_secondary{
    padding: 0 20%;
    flex: 1;
    font-size: 18px;
    color: #E5E7EB;
}

.hero_right{
    display: flex;
    flex: 1;
    align-items: center;
}

.hero_image{
    /* flex: 1; */
    height: auto;
    width: 70%;
}

.hero_button{
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    cursor: pointer;
}

.second_section{
    display: flex;
}

.title_of_pictures{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.information_header{
    font-size: 38px;
    font-weight: bold;
    color: #1F2937;
}

.pictures_description{
    display: flex;
    flex: 1;
}

.btc,
.eth,
.sol,
.usdt{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pic_frame{
    display: flex;
    width: 200px;
    height: 200px;
    border: #3882F6 2px solid;
    border-radius: 12px;
}

.text_frame{
    display: flex;
    flex: 1;
    width: 200px;
    height: auto;
}

.fourth_section{
    display: flex;
    flex: 1;
    margin: 5% 20%;
}

.fourth_section_block{
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100px;
    border: #3882F6 2px solid;
    border-radius: 12px;
    background-color: #3882F6;
}

.ending_left,
.ending_right{
    display: flex;
    flex: 1;
    justify-content: center;
    padding-left: 10%;
}

.ending_left{
    flex-direction: column;
    gap: 10px;
    color: #F9FAF8;
}

.ending_left p{
    margin: 0px;
}

.ending_left h3{
    margin: 0;
}

.ending_right{
    justify-content: left;
}

.ending_button{
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border: white 1px solid;
    border-radius: 12px;
    cursor: pointer;
}

.fifth_section{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    padding: 1em;
}